label {
    display: block;
    font: 1rem 'Fira Sans', sans-serif;
}

input,
label {
    margin: .4rem 0;
}
.naam {
    display: table-cell;
    margin-bottom: 10px;
    width: 300px;
    border-radius: 5px;
}

textarea {
    border: solid red 1px;
}

textarea:active{
    border: solid green;
}
